<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/gif" sizes="16x16">

    <title>
    {% block head %}
        Shaping the future of UAE
    {% endblock %}
    </title>
    {% block styles %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    {% endblock %}
</head>
<body>
{% block messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="row" id="alert_box">
        <div class="col s12 m12">
          <div class="card {{ message.tags }}">
            <div class="row">
              <div class="col s12 m10">
                <div class="card-content white-text">
                  <p id="message">{{message}}</p>
              </div>
            </div>
            <div class="col s12 m2">
              <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
            </div>
          </div>
         </div>
        </div>
      </div>
      <script>
          setTimeout(function(){ $( "#alert_box" ).fadeOut( "slow") }, 3500);
      </script>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
<header>
    <ul id="dropdown" class="dropdown-content">
        <div class="row">
            <h4 class="green-text center">Login</h4>
        </div>
        <form method="POST" action="/login">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="first_name" type="email" name="email" class="validate">
                    <label for="first_name">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="waves-effect waves-light btn" type="submit" name="action">Login</button>
                </div>
                <div class="input-field col s6">
                    <a class="waves-effect waves-light btn" href="/register">Register</a>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}"/>
        </form>
    </ul>
    <nav class="white">
        <div class="container">
            <a href="/" class="brand-logo green-text uae-logo"><img src="{% static '/images/logo.svg' %}">Shaping The Future of UAE</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons green-text">menu</i></a>
            <div class="nav-wrapper hide-on-med-and-down">
                <ul class="right hide-on-med-and-down">
                    <li><a href="#!" class="green-text">About</a></li>
                    <li><a href="#!" class="green-text">Information and services</a></li>
                    <li><a href="#!" class="green-text">Your Voice</a></li>
                    <li><a href="#!" class="green-text">Other Languages</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/profile" class="green-text">Profile</a></li>
                    <li><a href="/logout" class="green-text">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-trigger green-text" href="#!" data-target="dropdown">Login<i class="material-icons right green-text">arrow_drop_down</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li class="mobile-bar">
            <form>
                <div class="input-field">
                  <i class="material-icons above-input close" id="close">close</i>
                  <input id="search" type="search" required id="search">
                  <i class="material-icons">search</i>
                </div>
              </form>
        </li>
        <li><a href="#!" class="green-text">About</a></li>
        <li><a href="#!" class="green-text">Information and services</a></li>
        <li><a href="#!" class="green-text">Your Voice</a></li>
        <li><a href="#!" class="green-text">Other Languages</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="/profile" class="green-text">Profile</a></li>
        {% else %}
        <li><a class="green-text" href="#!" id="dropDownForm">Login<i class="material-icons right green-text">arrow_drop_down</i></a></li>
        <form method="POST" action="/login">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="first_name" type="email" name="email" class="validate">
                    <label for="first_name">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="waves-effect waves-light btn" type="submit" name="action">Login</button>
                </div>
                <div class="input-field col s6">
                    <a class="waves-effect waves-light btn" href="/register">Register</a>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}"/>
        </form>
        {% endif %}
    </ul>
</header>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <a href="#!" class="white-text">About</a>
                <a href="#!" class="white-text">Information and services</a>
            </div>
            <div class="col s6">
                <a href="#!" class="white-text">Your Voice</a>
                <a href="#!" class="white-text">Other Languages</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>
</html>