{% extends "base.html" %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% load static %}
{% endblock %}
{% block content %}
<div class="content">
<div class="row bg-img">
    <div class="splash">
    </div>
</div>
<div class="welcome">
    <h3 class="white-text">Predicting future UAE Employment Trends</h3>
    <p class="white-text">
        Dear youth, contribute to helping us to create a promising future for the United Arab Emirates through your participation on this platform.
        Based on the questions, your answers, and participation in this platform will contribute to our knowledge of your directions and dreams behind you and your future goals.
        This will help us in making decisions for you and facilitate the path for you towards your goals and linking them to the future of the country.
    </p>
    <a href="/survey" class="btn waves-effect waves-light start-now" type="submit" name="action">Start now
    </a>
</div>
<div class="row main-content">
    <div class="container">
        <div class="row">
            <div class="col m12 s12 center">
                <h4 class="headline">Youth</h4>
            </div>
        </div>
        <div class="row">
            <a href="/register">
                <div class="col m4 s12 center widget">
                    <i class="far fa-user-circle green-text fa-6x"></i>
                    <p>Create a profile</p>
                </div>
            </a>
            <a href="/survey">
                <div class="col m4 s12 center widget">
                    <i class="fas fa-share green-text fa-6x"></i>
                    <p>Share your opinions</p>
                </div>
            </a>
            <a href="/user_responses">
                <div class="col m4 s12 center widget">
                    <i class="fas fa-comments green-text fa-6x"></i>
                    <p>Get feedback</p>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col m12 s12 center">
                <h4 class="headline">Government</h4>
            </div>
        </div>
        <div class="row">
            <div class="col m4 s12 center widget">
                <i class="fas fa-clipboard green-text fa-6x"></i>
                <p>Gather data</p>
            </div>
            <a href="/analytics">
                <div class="col m4 s12 center widget">
                    <i class="fas fa-chart-bar green-text fa-6x"></i>
                    <p>Analyse</p>
                </div>
            </a>
            <div class="col m4 s12 center widget">
                <i class="fas fa-user-graduate green-text fa-6x"></i>
                <p>Shape our future</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}