{% extends "base.html" %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}" />
{% load static %}
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <div class="container">

            {% for survey in surveys %}
            <div class="row">
                <div class="col s12">
                    <h2>{{ survey.short_description }}</h2>
                </div>
            </div>

            {% for part in parts %}
            <div class="row part">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12"><h3>{{ part.title }}</h3></div>
                    </div>

                    {% for section in part.sections.all %}
                    <div class="row sections">
                        <div class="row section">
                            <div class="row">
                                <div class="col s12">
                                    <h4>{{ section.title }}</h4>
                                    {% if section.long_description %}
                                    <h5>{{section.long_description}}</h5>
                                    {% endif %}
                                </div>
                            </div>

                            {% for question in section.questions.all %}
                            <div class="row questions">
                                <div class="question">
                                    <div class="col s12">
                                        <p>{{ question.description }}</p>
                                        {% if question.open_ended %}

                                        {% for item in "x"|ljust:question.expected_answers %}
                                        <div class="row"><br>
                                            <div class="col s12 m6">
                                                <div class="input-field">
                                                    <input type="text" name="{{question.pk}}" id="{{item}}">
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}
                                        {% else %}
                                        {% if  question.options.all %}
                                        {% for option in question.options.all %}
                                        <p>
                                            <label>
                                                <input name="{{ question.pk }}" type="radio" value="{{ option }}"/>
                                                <span>{{ option }}</span>
                                            </label>
                                          </p>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col s12">
                                                <div class="input-field">
                                                    <input type="text" name="{{question.pk}}" id="">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="{{part.title}}">Submit your responses for {{part.title}}
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}

            {% if parts.has_other_pages %}
            <ul class="pagination" id="pagination">
                {% if parts.has_previous %}
                <li class="waves-effect"><a href="?page={{ parts.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><i class="material-icons">chevron_left</i></li>
                {% endif %}
                {% for i in parts.paginator.page_range %}
                {% if parts.number == i %}
                    <li class="active waves-effect"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if parts.has_next %}
                <li class="waves-effect"><a href="?page={{ parts.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="disabled"><i class="material-icons">chevron_right</i></li>
                {% endif %}
            </ul>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}