src/core/opinion_aggregator/staticfiles/admin
src/core/opinion_aggregator/staticfiles/css
src/core/opinion_aggregator/staticfiles/images
src/core/opinion_aggregator/staticfiles/js
src/core/opinion_aggregator/staticfiles/staticfiles.json
.vscode/
**__pycache__*
*media*
.env
account.txt
account.json
ignore.txt
