[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-storages = {extras = ["google"],version = "*"}
gunicorn = "*"
django-forgiving-collectstatic = "*"
whitenoise = "*"
pillow = "*"
django = "==2.2.10"
sendgrid-django = "*"

[requires]
python_version = "3.7"
